[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
click = "*"
pyyaml = "*"
types-pyyaml = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
types-pyyaml = "*"

[requires]
python_version = "3.8"

[scripts]
basic="uvicorn examples.basic.main:app --reload --reload-dir=examples/basic"
cli="python -m cli.main"
